p { 
    font-family:'Courier New', Courier, monospace
}

.blink {
    animation: opacity 1s infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0
    }
  
    100% {
      opacity: 1;
    }
  }