/* || GENERAL STYLES */

@font-face {
  font-family: "0xProto";
  src: url(fonts/0xProto/0xProtoNerdFont-Regular.ttf) format("truetype");
}

:root {
  --tangrey: #8e878c;
  --neutralgrey:  #9f94a0;
  --lightgrey: #bbb8bb; 
  --pink:  #dcb8b0;
  --peach:  #e5cab7;
  --bluet:  #9bb0cd;
  --lightbluet:  #cad5db;
  --prideorange: #D62800;
  --pridelightorange: #FF9B56;
  --pridelightpink: #D462A6;
  --pridepink: #A40062;
}

body { 
  color: white;
  font-family:'0xProto', monospace;
}

b {
  color: #947b82;
  &.normal {
    color: #ffffff;
  }
}

h4, a {
  color: var(--pink);
}

pre {
  color: white;
  font-family:'0xProto', monospace;
  line-height: 0.3em;
}

hr {
  width:50%;
  margin-left:0;
}

/* || ELEMENT STYLES */


#initial {
  .specs {
    margin-left: 1em;
  }
  .distro {
    margin-right: 1em;
  }
}

.directory {
  color: var(--bluet);
}

.hyfetch {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  vertical-align:top;
  margin-top: 2em;
  .specs {
    margin-left: 1em;
    max-width: 600px
  }

  @media (width <= 600px) {
    flex-direction: column;
    .specs {
      margin-left: 0em;
    }
  }
}

#console {
  margin-left:1em;
  margin-bottom:2em;
  margin-right: 1em;
  .distro {
    margin-left: -1em;
    margin-right: 1em;
  }
  .console-input {
    span:empty { 
      padding-right:1em;
    }  
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}

.box {
  display: inline-block;
  vertical-align: top;
}

.project-wrapper {
  display: flex; 
  justify-content: space-between; 
  width: 50%;
  .project-title {
    max-width: 30%
  }
  .project-desc {
    max-width: 70%;
  }
}

.post-content {
  max-width: 50%;
}


.timestamp {
  color: var(--lightbluet);
}

.text-input {
  border:none;
  outline:none;
  :empty {
    display: block;
    padding-left:1em;
  }
}


.files {
  width: 70%;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat( 4, minmax(25%, 1fr) );
}

/* || MOBILE STYLES */

@media (width <= 900px) {
  body {
    font-size: 14px;
  }
  hr {
    width: 100%;
  }

  .project-wrapper {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
  }

  .project-title, .post-content {
    max-width: 100%;
  }

  .files {
    grid-template-columns: repeat( 2, minmax(50%, 1fr) );
  }
}


@media screen and (width < 450px){
  body {
    font-size: 13px;
  }
  .files {
    grid-template-columns: repeat( 1, minmax(100%, 1fr) );

  }
}

.palette {
  display: inline-block;
  height: 2em;

  &.tangrey {
    background-color: var(--tangrey);
  }
  
  &.neutralgrey {
    background-color: var(--neutralgrey);
  }
  
  &.lightgrey {
    background-color: var(--lightgrey);
  }
  
  &.pink {
    background-color: var(--pink);
  }
  
  &.peach {
    background-color: var(--peach);
  }
  
  &.blue {
    background-color: var(--bluet);
  }
  
  &.lightblue {
    background-color: var(--lightbluet);
  }
  
}


