body { 
    color: white;
    font-family:'Courier New', Courier, monospace;
}
pre {
  color: white;
  font-family:'Courier New', Courier, monospace;

}

#distro {
  display: inline-block;
  vertical-align:top;
}

#specs {
  display: inline-block;
  vertical-align:top;
}


b.lightpink {
  color: #947b82;
}

b.magenta {
	color: #f075b7;
}

.cursor-blink {
    border-bottom: 2px solid white;
    animation: opacity 1s infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

.terminal {
  span:empty { 
    padding-right:1em;
  }
}



#text-input {
    border:none;
    outline:none;
}